* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(10, 10, 10);
  color: whitesmoke;
}

#image {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

#image:hover {
  transform: scale(1.1);
}
